# Compiled source #
###################
*.cpg
*.dbf
*.prj
*.qmd
*.shp
*.shx
*.met

# Logs and databases #
######################
.DS_Store

geotorchai
us101_7am_section_agg

*.png
*.pkl

kafka_2.13-3.8.0
jpyshp
dataset_docs
checkpoints
__pycache__
training/log
*.log
report
lstms
dataset
bata_files
us101viz

# Byte-compiled
__pycache__/
models

# Datasets
*.json
*.csv
preprocessed_data
predict_output_figs
log

realtime_evaluator.py
json_concatnetor.py
actual_val_listener.py
actual_val_producer.py