# Compiled source #
###################
*.cpg
*.dbf
*.prj
*.qmd
*.shp
*.shx
*.met

# Logs and databases #
######################
*.csv
.DS_Store

geotorchai
models
preprocessed_data
us101_7am_section_agg

*.pdf
*.png
*.pkl

kafka_2.13-3.8.0
jpyshp
dataset_docs
checkpoints
__pycache__
training/log
*.log
report
lstms
dataset
bata_files
us101viz
*.json