# Byte-compiled
__pycache__
models
.DS_Store

# Datasets and logs
*.json
*.csv
dataset
preprocessed_data
predict_output_figs
log

# Auxiliary python files
realtime_evaluator.py
json_concatnator.py
actual_val_listener.py
actual_val_producer.py
dataset_split.py
bata_files

# Kafka stuff
kafka_2.13-3.8.0
checkpoints

# Latex files
report

# visualizations
us101viz